/*
		Colours:
		Grey: #483B2C

		 */
		html,
		body {
			margin: 0;
			padding: 0;
		}
		html {
			background: #FAECD8;
			text-align: center;
			font-family: Source Sans Pro;
			font-weight: 400;
			color: #483B2C;
			line-height: 1.4;
		}
		* + * {
			margin-top: 1.5em;
		}
		li + * {
			margin-top: 0;
		}
		[role="banner"] {
			background: url(pano.jpg) center no-repeat;
			background-size: cover;
			height: 70vh;
			text-align: center;
			border-bottom: 1vh solid #483B2C;
			display: flex;
			color: #483B2C;
			font-family: Old Standard, serif;
		}
		h2, h3 {
			font-family: Old Standard, serif;
			font-weight: normal;
			text-align: center;
		}
		h2 {
			font-size: 2.2em;
		}
		h3 {
			font-size: 1.6em;
		}
		p, li {
			font-size: 1.2em;
		}
		a {
			color: #000;
			transition: .2s background;
		}
		a:hover,
		a:focus {
			background: rgba(255,255,255,.5);
		}
		.site-name-wrapper {
			flex: 1;
			align-self: center;
		}
		.site-name {
			margin-top: 0;
		}
		.site-name-strap {
			text-align: center;
			font-size: 2.6em;
			display: inline-block;
			border: .5vh solid;
			margin: 5vh 1vh;
			padding: 2vh;
			line-height: 1;
		}
		.site-name a {
			color: #FAECD8;
			text-decoration: none;
			display: block;
		}
		[itemprop="logo"] {
			width: 25vmin;
			max-width: 35em;
		}
		section {
			max-width: 35em;
			margin: 2em auto;
			text-align: left;
			padding: 0 1em;
		}

/*Helpers*/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/*Membership*/

.membership ul {
	padding-left: 0;
}

.membership ul li{
	list-style-type: none;
	box-sizing: border-box;
	height: 250px;
	padding: 1em;
	width: 50%;
	float: left;
	border: 2px solid #483B2C;
}


/*Lunch*/
.lunch h3 {
	text-align: left;
}
.lunch ol li {
	list-style-type: none;
}

.lunch .cuisine {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

/*CTA*/

.cta form, .cta .form-field, .cta .form-field input, .cta .form-field textarea {
	width: 100%;
}

.cta .form-field textarea {
	height: 150px;
}


/*Footer */

footer {
	margin: 2em 0;
}

.footer-logo img {
	width: 12vmin;
	max-width: 17em;
}

